In [64]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split, StratifiedKFold
from sklearn.metrics import roc_curve, auc, roc_auc_score, precision_recall_fscore_support
from sklearn.naive_bayes import GaussianNB
from tabulate import tabulate

In [57]:
df = pd.read_csv('student-comb_clean_bin.csv')
target = 'G3'
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,1,0,18,1,1,0,4,4,2,2,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,0,17,1,1,1,1,1,1,2,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,0,15,1,0,1,1,1,1,2,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [81]:
print(df.describe())
print(df[target].describe())

            school          sex          age      address      famsize  \
count  1044.000000  1044.000000  1044.000000  1044.000000  1044.000000
mean      0.739464     0.433908    16.726054     0.727011     0.706897
std       0.439138     0.495850     1.239975     0.445708     0.455404
min       0.000000     0.000000    15.000000     0.000000     0.000000
25%       0.000000     0.000000    16.000000     0.000000     0.000000
50%       1.000000     0.000000    17.000000     1.000000     1.000000
75%       1.000000     1.000000    18.000000     1.000000     1.000000
max       1.000000     1.000000    22.000000     1.000000     1.000000

           Pstatus         Medu         Fedu   traveltime    studytime  \
count  1044.000000  1044.000000  1044.000000  1044.000000  1044.000000
mean      0.884100     2.603448     2.387931     1.522989     1.970307
std       0.320259     1.124907     1.099938     0.731727     0.834353
min       0.000000     0.000000     0.000000     1.000000     1.000000
25%       1.000000     2.000000     1.000000     1.000000     1.000000
50%       1.000000     3.000000     2.000000     1.000000     2.000000
75%       1.000000     4.000000     3.000000     2.000000     2.000000
max       1.000000     4.000000     4.000000     4.000000     4.000000

            ...         Fjob_other  Fjob_services  Fjob_teacher  \
count       ...        1044.000000    1044.000000   1044.000000
mean        ...           0.559387       0.279693      0.062261
std         ...           0.496699       0.449064      0.241744
min         ...           0.000000       0.000000      0.000000
25%         ...           0.000000       0.000000      0.000000
50%         ...           1.000000       0.000000      0.000000
75%         ...           1.000000       1.000000      0.000000
max         ...           1.000000       1.000000      1.000000

       reason_course  reason_home  reason_other  reason_reputation  \
count    1044.000000  1044.000000   1044.000000        1044.000000
mean        0.411877     0.247126      0.103448           0.237548
std         0.492409     0.431548      0.304689           0.425785
min         0.000000     0.000000      0.000000           0.000000
25%         0.000000     0.000000      0.000000           0.000000
50%         0.000000     0.000000      0.000000           0.000000
75%         1.000000     0.000000      0.000000           0.000000
max         1.000000     1.000000      1.000000           1.000000

       guardian_father  guardian_mother  guardian_other
count      1044.000000      1044.000000     1044.000000
mean          0.232759         0.697318        0.069923
std           0.422792         0.459639        0.255140
min           0.000000         0.000000        0.000000
25%           0.000000         0.000000        0.000000
50%           0.000000         1.000000        0.000000
75%           0.000000         1.000000        0.000000
max           1.000000         1.000000        1.000000

[8 rows x 45 columns]
count    1044.000000
mean        0.488506
std         0.500107
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: G3, dtype: float64

In [58]:
def get_auc(X, y):
    cv = StratifiedKFold(y, n_folds=10)
    classifier = GaussianNB()

    roc_aucs = list()
    for i, (train,test) in enumerate(cv):
        probas_ = classifier.fit(X[train], y[train]).predict_proba(X[test])
        fpr, tpr, thresholds = roc_curve(y[test], probas_[:,1])
        roc_aucs.append(auc(fpr, tpr))
    return np.mean(roc_aucs)

In [83]:
def f(df):
    features = list(df.columns)
    features.remove(target)
    X = df[features].values
    y = df[target]
    return get_auc(X, y)

In [84]:
df_mat = df[df['subject']==0]
df_por = df[df['subject']==1]

In [85]:
auc_all = f(df)
auc_mat = f(df_mat)

#auc_por = f(df_por)
print(auc_all)
print(auc_mat)
#print(auc_por)

0.745909551801
0.663044810315