In [4]:
import pandas as pd
import numpy as np
import cufflinks
from tabulate import tabulate
from collections import Counter

In [5]:
df = pd.read_csv('baseball_plus_bin.csv')
df[:3]

,Rank,"yearID_(1871.857, 1919.667]","yearID_(1919.667, 1967.333]","yearID_(1967.333, 2015]",lgID_AA,lgID_AL,lgID_FL,lgID_NL,divID_C,divID_E,...,"FP_(0.921, 0.991]","attendance_(1795.433, 1436943.667]","attendance_(1436943.667, 2867799.333]","attendance_(2867799.333, 4298655]","BPF_(83.955, 99]","BPF_(99, 114]","BPF_(114, 129]","PPF_(85.957, 100.333]","PPF_(100.333, 114.667]","PPF_(114.667, 129]"
0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [6]:
print(len(df.columns))
df.describe()

109

,Rank,"yearID_(1871.857, 1919.667]","yearID_(1919.667, 1967.333]","yearID_(1967.333, 2015]",lgID_AA,lgID_AL,lgID_FL,lgID_NL,divID_C,divID_E,...,"FP_(0.921, 0.991]","attendance_(1795.433, 1436943.667]","attendance_(1436943.667, 2867799.333]","attendance_(2867799.333, 4298655]","BPF_(83.955, 99]","BPF_(99, 114]","BPF_(114, 129]","PPF_(85.957, 100.333]","PPF_(100.333, 114.667]","PPF_(114.667, 129]"
count,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,...,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000
mean,0.625000,0.219127,0.294428,0.486446,0.022590,0.444277,0.002636,0.530497,0.088102,0.200678,...,0.926958,0.616717,0.303840,0.079443,0.455949,0.537274,0.006777,0.554217,0.437877,0.007907
std,0.484214,0.413732,0.455871,0.499910,0.148622,0.496979,0.051279,0.499163,0.283497,0.400583,...,0.260255,0.486278,0.460001,0.270480,0.498149,0.498703,0.082059,0.497145,0.496219,0.088584
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000