In [38]:
import pandas as pd
import cufflinks
from sklearn.preprocessing import binarize

In [39]:
df_raw = pd.read_csv('student-comb.csv', delimiter=';')
df_raw[:3]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [40]:
df_raw['G3'].describe()

count    1044.000000
mean       11.341954
std         3.864796
min         0.000000
25%        10.000000
50%        11.000000
75%        14.000000
max        20.000000
Name: G3, dtype: float64

In [44]:
df_raw['T'] = binarize(df_raw['G3'], threshold=11)[0]
df_raw['T'].describe()

/usr/local/lib/python3.4/dist-packages/sklearn/utils/validation.py:386: DeprecationWarning:

Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.

count    1044.000000
mean        0.488506
std         0.500107
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: T, dtype: float64